# System
.DS_Store
*.zip
*.log

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.env
nona.db

# Node / Frontend / Next.js
node_modules/
.next/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
